html,
body {
  font-family: "Kanit", sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #FAE9E5;
}

.header {
  z-index:2;
  width: 100%;
  height: 70px;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.091);
  display: -webkit-box;
  display: flex;
  justify-content:  center;
  align-items: center;
  color: #cacaca;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-emphasis: none;
}
.title {
  display: flex;
 
  justify-content: flex-end;
  align-items: stretch;
}
.title h4:nth-child(2){
  margin-left: 50%;
  display: flex;
  flex-direction: row;
}
.body {
  height: 100vh;
  width: 100%;
  padding-top: 120px;
}

.container {
  padding-top: 20px;
  min-height: 100vh;
  display: grid;
  grid-auto-rows: 400px;
  grid-gap: 30px;
  grid-template-columns: repeat(3, minmax(200px, 300px));
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
          align-items: stretch;
}
@media screen and (max-width: 720px) {
  .container {
    grid-template-columns: 1fr;
    margin: 50px 30px;
  }
  .title h4:nth-child(2){
    margin-left: 10%;
    display: flex;
    flex-direction: row;
  }
  
}

.card {
  position: relative;
  padding: 10px;
  background: white;
  display: grid;
  grid-template-rows: 8fr 1fr 1fr;

  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.cat{
    color: #ce2c2c;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.card button{
    background: whitesmoke;
    border: none;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.057);
    padding: .4rem;
}
.card button:hover{
    background:rgba(0, 0, 0, 0.087);
}
.card .card-content {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 100%;
}
.card .card-content .top-bar {
  width: calc(100% - 40px);
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}
.card .card-content .top-bar .float-right {
  float: right;
}
.card .card-content .img {
  width: 100%;
  -webkit-box-pack: bottom;
          justify-content: bottom;
  align-content: bottom;
  text-align: center;
}
.card .card-content .img img {
  max-width: 100%;
  max-height: 220px;
}
.card .card-description {
  padding: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1em;
  width: calc(100%-20px);
}
.card .card-description .title {
  text-transform: uppercase;
  text-align: left;
}
.card .card-description .cart {
  float: right;
  cursor: pointer;
}
.card .card-footer {
  text-transform: uppercase;
  padding: 0.3em;
  border-top: 0.5px solid #ececec;
  letter-spacing: 0.1em;
  font-size: 11px;
  color: white;
  justify-items: left;
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
}
.card .card-footer .span {
  margin: 5px;
  width: auto;
  background: #dedede;
  padding: 4px 7px;
  border-radius: 2px;
  font-weight: 100;
  cursor: pointer;
}
.card .card-footer .span:hover {
  background: #aaaaaa;
}
.card:hover {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  box-shadow: 0px 45px 60px 0px rgba(0, 0, 0, 0.087);
}
